.outer-div {
  text-align: center;
  font-family: Arial, sans-serif;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  margin: 20px auto;
}

#board > div {
  background-color: pink;
  border: 2px solid black;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}