/*  your css code here. If applicable */
#board {
	display: grid;
	grid-template-columns: repeat(3 , 100px);
	grid-template-rows: repeat(3 , 100px);
}
#board>div {
	background-color: pink;
	height: 100px;
	width: 100px;
	border: 2px solid black;
}